.stepperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
  gap: 0; 
  background-color: #1F2234;
}

.stepWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
}

.stepIcon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #1e293b66;
  border: 1px solid #334155;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64748b;
  z-index: 2;
  transition: all 0.4s ease;
}

.activeIcon {
  background: rgb(19, 100, 200);
  color: white;
  box-shadow: 0 0 20px rgba(43, 89, 255, 0.3);
}

.stepLabel {
  margin-top: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #64748b;
}

.activeLabel {
  color: #3B82F6;
}

.stepLine {
  position: absolute;
  top: 21px; 
  left: 50%;
  width: 100%;
  border-top: 2px dashed #334155;
  z-index: 1;
}