.main-panel {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 20;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sub-panel{
    height: 40vh;
    background-color: rgba(36, 39, 56, 0.8);
    border-radius: 15px;
}
