.brand-text {
    background: var(--Brand-Theme, linear-gradient(90deg, #0BBFED 0%, #A6E6FF 9.62%, #2075FD 49.04%, #0BB9FF 84.62%));
    

    background-clip: text;
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
    color: transparent; 

    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;

    display: inline-block;
}

.main-panel {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 20;
    height: 80vh;
}

.left-container-CustomCalendar {
    display: flex;
    flex-direction: column;  
    flex: 1 1 auto;          
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    min-width: 250px;        
    min-height: 300px;       
}

.left-container-Announcements {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}

.right-container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;   
    min-width: 200px; 
}


.right-container + .right-container {
    margin-top: 10px;
}



