.form-container {
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 90%;
    max-width: 600px;

}

.form-container h3{
    overflow: hidden;
    color:  #62748E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family:  Inter;
    margin-top: 20px;
    font-size:  20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing:  0;
}

.form-container h1{
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
}

.textLabels{
    overflow: hidden;
    color:  #6A7282;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height:  28px;
    letter-spacing:  0;
}

.labelSpacing {
    margin-top: 30px;
}

.newUser{
    margin-top: 30px;
    font-size:16px;
}

.subModule{
    margin-top: 100px;
}

.inputBox{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.confirmButton{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(90deg, #090D22 0%, #003C67 50.48%, #012850 100%);

    overflow: hidden;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height:  28px; 
    letter-spacing:  0;
}

.userSignUp{
    color: #07C1FF;
    font-family: Inter;
    font-size:  16px;
    font-style: normal;
    font-weight: 700;
    line-height:  28px;
    letter-spacing:  0;
    text-decoration: none;
}

